<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= task.user.name%>:<span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">STATUS</th>
              <th scope="col">CONTENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><p class="md-0"><%= task.status %></p></td>
              <td><p class="md-0"><%= task.content %></p></td>
            </tr>
          </tbody>
        </table>
        <div>
          <% if current_user == task.user %>
            <%= link_to '編集/削除ボタン', task_path(task), class:"btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>